.accountPageContainer {
    padding-left: 35px;
    padding-top: 5px;
  }
  
  .accountTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .productSalesGroup {
    margin-top: 2rem;
  }
  